<Project>
  <PropertyGroup>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <RuntimeFrameworkVersion>8.0.30</RuntimeFrameworkVersion>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishTrimmed>false</PublishTrimmed>
    <PublishReadyToRun>false</PublishReadyToRun>
    <DebugType>none</DebugType>
    <DebugSymbols>false</DebugSymbols>
    <IncludeLocalSkin>false</IncludeLocalSkin>
    <NuGetLockFilePath>packages.win-x64.lock.json</NuGetLockFilePath>
  </PropertyGroup>
</Project>
